<mat-list role="list">
  <mat-list-item role="listitem"
    ><a mat-button class="sidebar-link" color="primary" routerLink="/admin"
      >Dashboard</a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a mat-button class="sidebar-link" color="primary" routerLink="customers"
      >Customers</a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a mat-button class="sidebar-link" color="primary" routerLink="orders"
      >Orders</a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a mat-button class="sidebar-link" color="primary" routerLink="products"
      >Products</a
    ></mat-list-item
  >
</mat-list>
